<div class="window">
  <div class="window-resize-anchor anchor-top-left"></div>
  <div class="window-resize-anchor anchor-top-right"></div>
  <div class="window-resize-anchor anchor-bottom-left"></div>
  <div class="window-resize-anchor anchor-bottom-right"></div>

  <div class="window-resize-anchor anchor-top"></div>
  <div class="window-resize-anchor anchor-bottom"></div>
  <div class="window-resize-anchor anchor-left"></div>
  <div class="window-resize-anchor anchor-right"></div>

  <div class="window-border-separator">
    <div class="window-border">
      <div class="title-bar">
        <div class="title-bar-content">
          <div class="window-icon" ngDefaultControl ngModel #windowIcon></div>
          <div class="window-title">{{windowName}}</div>
        </div>
        <div class="window-title-bar-buttons">
          <div class="title-bar-button title-bar-button-minimize" ngDefaultControl ngModel #buttonMinimize><div class="title-bar-button-inner"></div></div>
          <div class="title-bar-button title-bar-button-maximize" ngDefaultControl ngModel #buttonMaximize><div class="title-bar-button-inner"></div></div>
          <div class="title-bar-button title-bar-button-close" ngDefaultControl ngModel #buttonClose><div class="title-bar-button-inner"></div></div>
        </div>
      </div>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
