<div class="taskbar-outer">
  <div class="taskbar">
    <div class="start-button">

      <menu [hidden]="!menuVisibility" (userProfileClickEvent)="emitUserProfileClickEvent()">

        <menu-item
          displayValue="Create a New Post"
          icon="assets/icons/create-post-page-icon.png"
          (click)="openCreatePostPage()">
        </menu-item>
        <menu-item [hasChildren]="true" displayValue="Settings" icon="assets/icons/settings-icon.png">
          <menu-item
            displayValue="Change Password"
            icon="assets/icons/change-password-icon.png"
            (click)="openChangePasswordPage()"
          ></menu-item>
          <menu-item
            displayValue="Delete Account"
            icon="assets/icons/trash-icon.png"
            (click)="openDeleteAccountPage()"
          ></menu-item>
        </menu-item>
        <menu-item displayValue="Log off" icon="assets/icons/logout.png" (click)="emitLogOffEvent()" ></menu-item>

      </menu>

      <tray-button (click)="toggleMenuVisibility()" [active]="menuVisibility">
      </tray-button>
    </div>
    <div class="quick-buttons">
    </div>
    <div class="running-tasks">
      <div ngModel #runningTasks style="display: none"></div>
    </div>
    <div class="tray">
      <app-system-tray>

      </app-system-tray>
    </div>
  </div>
</div>
<ng-content></ng-content>
