<div class="taskbar-outer">
  <div class="taskbar">
    <div class="start-button">

      <menu [hidden]="!menuVisibility" (userProfileClickEvent)="emitUserProfileClickEvent()">

        <menu-item
          displayValue="Create a New Post"
          icon="assets/icons/create-post-page-icon.png"
          (click)="openCreatePostPage()">
        </menu-item>

        <menu-item
          displayValue="Open Feed"
          icon="assets/icons/feed-icon.png"
          (click)="openFeedPage()">
        </menu-item>

        <menu-item
          [hasChildren]="true"
          displayValue="Friends"
          icon="assets/icons/friend.png"
        >

          <menu-item
            displayValue="Manage"
            icon="assets/icons/user.png"
            (click)="openManageFriendsPage()"
          ></menu-item>

        </menu-item>

        <menu-item [hasChildren]="true" displayValue="Search" icon="assets/icons/search-category.svg">
          <menu-item
            displayValue="For People..."
            icon="assets/icons/user-search.png"
            (click)="openUserSearchPage()">
          </menu-item>
        </menu-item>

        <menu-item [hasChildren]="true" displayValue="Settings" icon="assets/icons/settings-icon.png">

          <menu-item
          displayValue="Change Personal Info"
          icon="assets/icons/change-personal-icon.svg"
          (click)="openChangePersonalInfoPage()">

          </menu-item>

          <menu-item
            displayValue="Change Password"
            icon="assets/icons/change-password-icon.png"
            (click)="openChangePasswordPage()">

          </menu-item>

          <menu-item
          displayValue="Change Contact Info"
          icon="assets/icons/change-contact-icon.png"
          (click)="openChangeContactInfoPage()">
          </menu-item>

          <menu-item
            displayValue="Delete Account"
            icon="assets/icons/trash-icon.png"
            (click)="openDeleteAccountPage()">

          </menu-item>
        </menu-item>
        <menu-item displayValue="Log off" icon="assets/icons/logout.png" (click)="emitLogOffEvent()" ></menu-item>

      </menu>

      <tray-button (click)="toggleMenuVisibility()" [active]="menuVisibility">
      </tray-button>
    </div>
    <div class="quick-buttons">
      <app-quick-button
        icon="assets/icons/create-post-page-icon.png"
        (click)="openCreatePostPage()"
      ></app-quick-button>
      <app-quick-button
        icon="assets/icons/feed-icon.png"
        (click)="openFeedPage()"
      ></app-quick-button>
    </div>
    <div class="running-tasks">
      <div ngModel #runningTasks style="display: none"></div>
    </div>
    <div class="tray">
      <app-system-tray>

      </app-system-tray>
    </div>
  </div>
</div>
<ng-content></ng-content>
