.wrapper{
  border-top: white 1px solid;
  border-left: white 1px solid;
  border-bottom: #404040 1px solid;
  border-right:  #404040 1px solid;
  width: 55px;
  height: 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2px;
  top: 2px;
}

div.wrapper-active, div.wrapper:active {
  border-top: #404040  1px solid;
  border-left:  #404040 1px solid;
  border-bottom: white 1px solid;
  border-right: white 1px solid;
}

button{
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d0c8;
  background-image: url("/assets/icons/start-button.png");
  image-rendering: pixelated;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0 10px;

  border-top: transparent 1px solid;
  border-left: transparent 1px solid;
  border-right: #808080 1px solid;
  border-bottom: #808080 1px solid;
}
button.button-active, button:active{
  border-top: #808080  1px solid;
  border-left:  #808080 1px solid;
  border-bottom: transparent 1px solid;
  border-right: transparent 1px solid;

}


button:disabled {
  text-shadow: 1px 1px 0px white;
  color: #808080;
}
