<window
  style="position:absolute; top: 10px; left: 10px; width: 400px; height: 220px; z-index: 0{{style.zIndex}};"
  (onClose)="close()"
  (onMaximize)="maximize()"
  (onMinimize)="minimize()"
  (onWindowClick)="focus()"
  [icon]="icon"
  [windowName]="title"
  maximizeBtnShow="false"
  draggable

>
  <p style="padding: 2px 4px;">Change your password, this operation will log you out.</p>
  <hr style="margin: 4px auto; width: 380px;" />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <password-input [formGroup]="form" formControlName="oldPassword" ngDefaultControl required>Old Password</password-input>
      <password-input [formGroup]="form" formControlName="newPassword" ngDefaultControl required>New Password</password-input>
      <password-input [formGroup]="form" formControlName="confirmNewPassword" ngDefaultControl required>Confirm New Password</password-input>
      <hr style="margin: 4px auto; width: 380px;" />
      <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center; padding: 12px;">
        <win-button [formGroup]="form" [disabled]="!form.valid" ngDefaultControl>OK</win-button>
      </div>
    </form>
</window>
