.screen{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 28px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

taskbar {
  background-color: #d4d0c8;
}
desktop {
}

desktop div{
  border: white 1px dotted;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
}
