.screen{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

desktop {
}

taskbar{
}

desktop div{
  border: white 1px dotted;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
