.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  gap: 4px;
  overflow: hidden auto;
}

.user-profile{
  width: 100%;
  height: 80px;
  min-height: 80px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  overflow: hidden;
}

.user-profile-frame{
  width: 100%;
  height: 100%;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  border-top: #404040 1px solid;
  border-left:  #404040 1px solid;
  border-right:  #d4d0c8 1px solid;
  border-bottom: #d4d0c8 1px solid;
  opacity: 1;
}

.user-profile-icon{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #404040;
  background-image: url("/assets/icons/user-default-profile.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.user-actions{
  width: 100%;
  height: 32px;
  min-height: 32px;
  max-width: 600px;
  background-color: #d4d0c8;
  border-top:  #fff 1px solid;
  border-left: #fff 1px solid;
  border-right: #404040 1px solid;
  border-bottom:  #404040 1px solid;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  gap: 4px;
}


.user-action-button{
  width: 26px;
  height: 26px;

  background-color: #d4d0c8;
  border-top:  transparent 1px solid;
  border-left: transparent 1px solid;
  border-bottom: transparent 1px solid;
  border-right: transparent 1px solid;

  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
}

.user-action-button:hover{
  border-top:  #fff 1px solid;
  border-left: #fff 1px solid;
  border-bottom: #808080 1px solid;
  border-right:  #808080 1px solid;

}

.follow{
  background-image: url("/assets/icons/follow.png");
}

.unfollow{
  background-image: url("/assets/icons/stop-following.png");
}

.friend{
  background-image: url("/assets/icons/friend.png");
}

.unfriend{
  background-image: url("/assets/icons/trash-icon.png");
}

.user-posts{
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  gap: 4px;
  opacity: 1;
  padding: 4px;
}

.post{
  width: 100%;
  //max-width: 400px;

  border-top:  #fff 1px solid;
  border-left: #fff 1px solid;
  border-right: #404040 1px solid;
  border-bottom:  #404040 1px solid;
  display: grid;
  grid-template-rows: 24px auto auto;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

.post-header{
  font-size: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 4px;
  box-sizing: border-box;
}

.post-author{
  //font-weight: bold;
  font-size: 10px;
}

.controls{
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-button{
  width: 20px;
  height: 20px;
  background-color: #d4d0c8;
  padding: 2px;

  border: 1px solid transparent;
}

.control-button:hover{
  border-top:  #fff 1px solid;
  border-left: #fff 1px solid;
  border-bottom: #808080 1px solid;
  border-right:  #808080 1px solid;
}

.button-icon{
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-post{
  background-image: url("/assets/icons/create-post-page-icon.png");
}

.delete-post{
  background-image: url("/assets/icons/trash-icon.png");
}

.post-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  overflow: hidden;
  font-size: 9px;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 28px;
  border-bottom:  #fff 1px solid;
  border-right: #fff 1px solid;
  border-left: #404040 1px solid;
  border-top:  #404040 1px solid;
  margin: 2px;
}
