<window
  style="position:absolute; top: 10px; left: 10px; min-width: 360px; min-height: 340px; height: 340px; z-index: 0{{style.zIndex}};"
  windowName="{{title}}"
  icon="{{icon}}"
  (onWindowClick)="focus()"
  (onMinimize)="minimize()"
  (onMaximize)="maximize()"
  (onClose)="close()"
  draggable
  resizable
>
  <div class="container">
    <form [formGroup]="form">
      <div class="top-part">
        <p>What's on your mind?</p>
        <div class="wrapper">
          <label>
            <select [formGroup]="form" ngDefaultControl formControlName="visibilityGroup" required>
              <option value="FRIENDS">Friends</option>
              <option value="FOLLOWERS">Followers</option>
              <option value="CUSTOM">Custom</option>
            </select>
          </label>
        </div>
      </div>
    <div class="post-content">
      <textarea ngDefaultControl [formGroup]="form" formControlName="content" required></textarea>
    </div>
    <div class="buttons">
      <win-button ngDefaultControl [disabled]="!form.valid">Post</win-button>
    </div>
  </form>
  </div>
</window>
