<window
  style="position: absolute; top: 10px; left: 10px; width: 360px; height: 160px; min-width: 360px; min-height: 160px; z-index:0{{style.zIndex}}"
  windowName="{{title}}"
  icon="{{icon}}"
  draggable
  resizable
  maximizeBtnShow="false"
  (onClose)="close()"
  (onMaximize)="maximize()"
  (onMinimize)="minimize()"
  (onWindowClick)="focus()"
>
  <div class="container">
    <form [formGroup]="form">
      <p>Change your contact info.</p>
      <div class="text-input">
        <mail-input [formGroup]="form" formControlName="email" ngDefaultControl>E-Mail</mail-input>
      </div>
      <hr style="width: 90%;" />
      <div class="buttons">
        <win-button (click)="setCurrentContactInfo()" ngDefaultControl>Revert</win-button>
        <win-button [formGroup]="form" [disabled]="!form.valid" (ngSubmit)="updateContactInfo()" ngDefaultControl>Update</win-button>
      </div>
    </form>
  </div>
</window>
